$text-color = #1a1a1a
$white = #fff
$light-gray = #eee
$gray = #f4f4f8
$dark-gray = #e6e6ef
$darkest-gray = #6c7684

$dark-blue = #5ea9ff
$blue = #aad2ff
$light-blue = #e7f2ff
$error-color = #ef6461

$box-shadow = 0px 4px 30px 0px rgba(0, 0, 0, .15)

:root
    --w: 24px

    // Border Radius
    --br: 16px
    --br-sm: 8px
    --br-xs: 5px

    --gap: 60px
    --gap-m: 32px
    --gap-sm: 24px
    --gap-xs: 16px

    --h2: 32px
    --h3: 24px
    --h5: 15px
    --text-14: 14px
    --text-12: 12px

@media (max-width 768px)
    :root
        --w: 6.4vw

        --br: 3.4667vw
        --br-sm: 2.1333vw
        --br-xs: 1.3333vw

        --gap: 16vw
        --gap-m: 8.5333vw
        --gap-sm: 6.4vw
        --gap-xs: 4.2667vw

        --h2: 8.5333vw
        --h3: 4vw
        --h5: 4vw
        --text-14: 3.2vw
        --text-12: 3.2vw